src/main/mule/sample-mule-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="34adc847-389d-48c7-8b23-56a848fe92cc" >
		<http:listener-connection host="0.0.0.0" port="8080" />
	</http:listener-config>
	<flow name="sample-mule-appFlow" doc:id="05e2543a-b9d1-4383-9268-068291c7cd2c" >
		<http:listener doc:name="Listener" doc:id="eef07251-1034-4500-8154-33a347b1c2ce" config-ref="HTTP_Listener_config" path="/sample"/>
		<set-payload value="#['Hello World']" doc:name="Set Payload Hello World" doc:id="3d8fb417-53b1-4d66-b1cb-efaed2f08311" />
		<logger level="INFO" doc:name="Logger for Payload" doc:id="3ec2c119-53a5-4768-a963-33a4d7173385" message="#[payload]"/>
	</flow>
</mule>
